page-contact {


 ion-input, ion-select, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }

#thankyou {
	text-align:center;
	width: 80%;
	margin: auto auto;
	margin-top:60px;
}

#thankyou p {
	line-height:1.8em;
	font-size:16px;
}

}
